@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding-bottom: env(safe-area-inset-bottom);
}

.bg-container {
  float: left;
  background: #00ffff;
  margin-top: -150px;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
}
.wallet-adapter-button-trigger {
  background-color: linear-gradient(
    180deg,
    #604ae5 0%,
    #813eee 100%
  ) !important;
}

@font-face {
  font-family: "Monst-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "RobotMono";
  src: url("/fonts/RobotoMono.ttf");
}
